.app-sidebar__user-avatar{
    width: 48px;
    height: 48px;
    background-color: gray;
    padding: 6px;
}
.nav-vertical{
    background-color:#0c1838   ;
}
.nav-white{
    background-color:white   ;
    border-radius: 5%;
    background-image: url(img/Logo_GRTPE.png);
}
.banner-color{
    
    color: white;

}