.app-sidebar__user-avatar{
    width: 48px;
    height: 48px;
    background-color: gray;
    padding: 6px;
}
.nav-vertical{
    background-color:#0c1838   ;
}
.nav-white{
    background-color:white   ;
    border-radius: 5%;
}
.banner-color{
    
    color: white;

}
table th {
    background-color: #337ab7 !important;
    color: white;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}
.frmFilas{
    padding-bottom: 10px;
}
.selectP{
    width: 180px;
    height: 48px;
}
